<div style="font-family:'Inconsolata SemiCondensed'; line-height: 80%;">
  <br><br><br>
  <span style="color: Gray; font-size: 70%; position: relative; top: -0.5em;">'''</span>
  <span style="color: PeachPuff; font-size: 125%;">
    <span style="font-family: 'Secular One'">Alex Van(Secular One)</span>&nbsp;
    <span style="font-family: 'Gen Jyuu Gothic P Medium';">温華添</span>
  </span>
  <span style="color: Gray; font-size: 70%; position: relative; top: -0.5em;">'''</span>
  <span style="font-size: 35%; line-height: 40%;"><br><br></span>
  <div style="font-size: 82%; line-height: 120%;">
    <font color='#569cd6'>class</font>
    <font color='#4ec9b0'>Me</font>
    <font color='#ffd700'>()</font>
    <font color='#d4d4d4'>:</font>&nbsp;&nbsp;&nbsp;<font color='#6a9955'># NoCo.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<font color='#d4d4d4'>in_ =</font>
      <font color='#ffd700'>[</font>
      <font color='#ce9178'>'Python'</font>
      <font color='#d4d4d4'>,</font>
      <font color='#ce9178'>'backend'<font color='#d4d4d4'>,</font>
        <font color='#ce9178'>'tutoring'</font>
        <font color='#d4d4d4'>, ...</font>
        <font color='#ffd700'>]</font><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<font color='#d4d4d4'>email =</font>
        <font color='#ce9178'>'alexhtwen@gmail.com'</font><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<font color='#d4d4d4'>github =</font>
        <font color='#ce9178'>'https://github.com/alexhtwen'</font><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<font color='#d4d4d4'>phone =</font>
        <font color='#ce9178'>'+886 918-800878'</font><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<font color='#dcdcaa'>@</font>
        <font color='#4ec9b0'>staticmethod</font><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<font color='#569cd6'>def</font>
        <font color='#dcdcaa'>greet</font>
        <font color='#ffd700'>(</font>
        <font color='#9cdcfe'>word</font>
        <font color='#d4d4d4'>:</font>
        <font color='#4ec9b0'>str</font>
        <font color='#ffd700'>)</font>
        <font color='#d4d4d4'>-></font>
        <font color='#569cd6'>None</font>
        <font color='#d4d4d4'>:</font><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color='#dcdcaa'>print</font>
        <font color='#ffd700'>(</font>
        <font color='#569cd6'>f</font>
        <font color='#ce9178'>'</font>
        <font color='#da70d6'>{</font>
        <font color='#d4d4d4'>word</font>
        <font color='#da70d6'>}</font>
        <font color='#ce9178'>from</font>
        <font color='#da70d6'>{</font>
        <font color='#9cdcfe'>__doc__</font>
        <font color='#da70d6'>}</font>
        <font color='#ce9178'>'</font>
        <font color='#ffd700'>)</font><br>
      </font>
      <font color='#d4d4d4'>Me.greet</font>
      <font color='#ffd700'>(</font>
      <font color='#ce9178'>"'Hello, World!'"</font>
      <font color='#ffd700'>)</font><br><br>
  </div>